@font-face {
  font-family: "BaiJam";
  src: url("/assets/Bai_Jamjuree/BaiJamjuree-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BaiJam";
  src: url("/assets/Bai_Jamjuree/BaiJamjuree-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BaiJam";
  src: url("/assets/Bai_Jamjuree/BaiJamjuree-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BaiJam";
  src: url("/assets/Bai_Jamjuree/BaiJamjuree-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  --light: #fff;
  --button: #26bba4;
  --dark-text: #4c545c;
  --text: #9eabb2;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--text);
  background-image: url("/assets/bg-header-mobile.png");
  background-color: var(--light);
  background-repeat: no-repeat;
  background-size: contain;

  font-family: BaiJam, Ubuntu, Trebuchet, Helvetica, Arial, sans-serif;
  text-align: center;

  padding: 0;
  margin: 0;
  letter-spacing: 0.12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-text);
  margin: 1.25em 0 0;
  /* font-style: italic; */
}

header h2 {
  font-size: 2em;
  letter-spacing: -0.521739px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

header h1,
footer h2 {
  background-image: url("/assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 0;
  overflow: hidden;
}

header h1 {
  padding-top: 125px;
  margin: 60px 0;
}

header {
  margin: 0 0 5.625em;
}

body > header {
  padding: 30px 30px 0;
}

main,
main + aside {
  padding: 0 30px;
}

footer {
  background: #f5f7f7;
  padding: 30px;
}

footer h2 {
  padding-top: 55px;
  margin: 0;
}

p {
  line-height: 1.625;
  margin: 1em 0;
}

a {
  color: var(--dark-text);
  text-decoration: none;
}

a:hover {
  color: var(--button);
}

img {
  max-width: 100%;
}

section,
aside {
  margin: 160px 0;
}

nav {
  margin: 10px 0 0px;
}

nav a {
  display: block;
  margin: 5px auto;
}

.cta-btns {
  margin: 45px 0;
}

.cta-btns a {
  display: block;
  color: var(--light);
  background: var(--button);

  text-align: center;
  padding: 1em 2em;

  font-weight: bold;
  border-radius: 28px;

  margin: 1em;

  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.cta-btns a:hover {
  color: var(--light);
  opacity: 0.8;
}

.cta-btns a.mac {
  --button: #6174ff;
}

.keep-track img,
.clip-anywhere img {
  display: block;
  margin: 60px auto;
}

ul.feature {
  list-style: none;
  padding: 0;
}

.feature h4::before {
  display: block;

  margin: 56px auto 40px;
  content: "";
}

.feature .blacklist h4::before {
  background: url("/assets/icons/icon-blacklist.svg");
  width: 44px;
  height: 40px;
}

.feature .snippets h4::before {
  background: url("/assets/icons/icon-text.svg");
  width: 36px;
  height: 32px;
}

.feature .preview h4::before {
  background: url("/assets/icons/icon-preview.svg");
  width: 50px;
  height: 32px;
}

.partners h2 {
  display: none;
}

.partners li {
  margin: 56px auto;
}

address a {
  display: inline-block;
  height: 0;
  overflow: hidden;
  padding-top: 24px;

  background-repeat: no-repeat;
  background-position: center;
}

a.facebook {
  background-image: url("/assets/icons/icon-facebook.svg");
}

a.twitter {
  background-image: url("/assets/icons/icon-twitter.svg");
}

a.instagram {
  background-image: url("/assets/icons/icon-instagram.svg");
}

.icon:hover {
  filter: invert(57%) sepia(47%) saturate(585%) hue-rotate(121deg)
    brightness(96%) contrast(97%);
}

.supercharge-workflow header {
  margin: 0;
}
